# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

C:\Users\junta\Documents\GitHub\DataSciencePortfolio\Udacity Data Engineer Nanodegree\Project - Data Modeling with Cassandra

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
# print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

8056

In [4]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [5]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [6]:
# TO-DO: Create a Keyspace 
try:
    session.execute("""CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = {'class': 'SimpleStrategy', 'replication_factor': 1};""")
except Exception as e:
    print(e)

#### Set Keyspace

In [7]:
# TO-DO: Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [8]:
# Create table1 for query1
session.execute("DROP TABLE IF EXISTS udacity.table1;")
table1 = 'CREATE TABLE IF NOT EXISTS table1 \
        (artist varchar, \
        itemInSession int, \
        length float, \
        sessionId int, \
        song varchar, \
        PRIMARY KEY (sessionId, itemInSession));'
try:
    session.execute(table1)
except Exception as e:
    print(e)

In [9]:
# Create table2 for query2
session.execute("DROP TABLE IF EXISTS udacity.table2;")
table2 = 'CREATE TABLE IF NOT EXISTS table2 \
        (artist varchar, \
        firstName varchar, \
        itemInSession int, \
        lastName varchar, \
        sessionId int, \
        song varchar, \
        userId int, \
        PRIMARY KEY ((userId, sessionId), itemInSession));'
try:
    session.execute(table2)
except Exception as e:
    print(e)

In [10]:
# Create table3 for query3
session.execute("DROP TABLE IF EXISTS udacity.table3;")
table3 = 'CREATE TABLE IF NOT EXISTS table3 \
        (firstName varchar, \
        lastName varchar, \
        song varchar, \
        userId int, \
        PRIMARY KEY (song, userId));'
try:
    session.execute(table3)
except Exception as e:
    print(e)

In [12]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        insert1 = "INSERT INTO table1 (artist, itemInSession, length, sessionId, song) VALUES (%s, %s, %s, %s, %s);"
        insert2 = "INSERT INTO table2 (artist, firstName, itemInSession, lastName, sessionId, song, userId) VALUES (%s, %s, %s, %s, %s, %s, %s);"
        insert3 = "INSERT INTO table3 (firstName, lastName, song, userId) VALUES (%s, %s, %s, %s);"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        try:
            session.execute(insert1, (line[0], int(line[3]), float(line[5]), int(line[8]), line[9]))
            session.execute(insert2, (line[0], line[1], int(line[3]), line[4], int(line[8]), line[9], int(line[10])))
            session.execute(insert3, (line[1], line[4], line[9], int(line[10])))
        except Exception as e:
            print(e)

#### Do a SELECT to verify that the data have been inserted into each table

In [13]:
## TO-DO: Add in the SELECT statement to verify the data was entered into the table
rows = session.execute("SELECT * FROM table1 WHERE sessionId=139;")
for row in rows:
    print(row)

Row(sessionid=139, iteminsession=1, artist="Des'ree", length=246.30812072753906, song='You Gotta Be')
Row(sessionid=139, iteminsession=3, artist='Mr Oizo', length=144.03872680664062, song='Flat 55')
Row(sessionid=139, iteminsession=4, artist='Tamba Trio', length=177.18812561035156, song='Quem Quiser Encontrar O Amor')
Row(sessionid=139, iteminsession=5, artist='The Mars Volta', length=380.4207763671875, song='Eriatarka')
Row(sessionid=139, iteminsession=6, artist='Infected Mushroom', length=440.2673034667969, song='Becoming Insane')
Row(sessionid=139, iteminsession=7, artist='Blue October / Imogen Heap', length=241.3970947265625, song='Congratulations')
Row(sessionid=139, iteminsession=8, artist='Girl Talk', length=160.15628051757812, song='Once again')

In [16]:
rows = session.execute("SELECT * FROM table2 WHERE userId=8 AND sessionId=139;")
for row in rows:
    print(row)

Row(userid=8, sessionid=139, iteminsession=1, artist="Des'ree", firstname='Kaylee', lastname='Summers', song='You Gotta Be')
Row(userid=8, sessionid=139, iteminsession=3, artist='Mr Oizo', firstname='Kaylee', lastname='Summers', song='Flat 55')
Row(userid=8, sessionid=139, iteminsession=4, artist='Tamba Trio', firstname='Kaylee', lastname='Summers', song='Quem Quiser Encontrar O Amor')
Row(userid=8, sessionid=139, iteminsession=5, artist='The Mars Volta', firstname='Kaylee', lastname='Summers', song='Eriatarka')
Row(userid=8, sessionid=139, iteminsession=6, artist='Infected Mushroom', firstname='Kaylee', lastname='Summers', song='Becoming Insane')
Row(userid=8, sessionid=139, iteminsession=7, artist='Blue October / Imogen Heap', firstname='Kaylee', lastname='Summers', song='Congratulations')
Row(userid=8, sessionid=139, iteminsession=8, artist='Girl Talk', firstname='Kaylee', lastname='Summers', song='Once again')

In [17]:
rows = session.execute("SELECT * FROM table3 WHERE song='Flat 55';")
for row in rows:
    print(row)

Row(song='Flat 55', userid=8, firstname='Kaylee', lastname='Summers')

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

In [18]:
## TO-DO: Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4

query1 = "SELECT artist, song, length FROM table1 WHERE sessionId=338 AND itemInSession=4;"
try:
    rows = session.execute(query1)
    for row in rows:
        print(row)
except Exception as e:
    print(e)

Row(artist='Faithless', song='Music Matters (Mark Knight Dub)', length=495.30731201171875)

In [19]:
## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

query2 = "SELECT artist, song, firstName, lastName FROM table2 WHERE userId=10 AND sessionId=182 ORDER BY itemInSession ASC;"
try:
    rows = session.execute(query2)
    for row in rows:
        print(row)
except Exception as e:
    print(e)

Row(artist='Down To The Bone', song="Keep On Keepin' On", firstname='Sylvie', lastname='Cruz')
Row(artist='Three Drives', song='Greece 2000', firstname='Sylvie', lastname='Cruz')
Row(artist='Sebastien Tellier', song='Kilometer', firstname='Sylvie', lastname='Cruz')
Row(artist='Lonnie Gordon', song='Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', firstname='Sylvie', lastname='Cruz')

In [20]:
## TO-DO: Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

query3 = "SELECT firstName, lastName FROM table3 WHERE song='All Hands Against His Own'"
try:
    rows = session.execute(query3)
    for row in rows:
        print(row)
except Exception as e:
    print(e)

Row(firstname='Jacqueline', lastname='Lynch')
Row(firstname='Tegan', lastname='Levine')
Row(firstname='Sara', lastname='Johnson')

### Drop the tables before closing out the sessions

In [21]:
## TO-DO: Drop the table before closing out the sessions
session.execute("DROP TABLE IF EXISTS udacity.table1;")
session.execute("DROP TABLE IF EXISTS udacity.table2;")
session.execute("DROP TABLE IF EXISTS udacity.table3;")

### Close the session and cluster connectionÂ¶

In [22]:
session.shutdown()
cluster.shutdown()